/* ------- import af fonts ------ */

@font-face{
  font-family: "Geologica";
  src: url(../fonts/Geologica-Medium.ttf)
}

@font-face{
  font-family: "Nunito";
  src: url(../fonts/Nunito-Medium.ttf)
}


/* ------- mobil herunder ------- */

body {
  background: #e3edf7;
}

h1, h2, h3 {
  font-family: 'Geologica';
  margin-top: 1em;
  margin-bottom: 1em;
}

h1 {
  color: rgb(38, 34, 98);
}

h2 {
  color: rgb(60, 55, 135);
  font-size: 25px;
}

h3 {
  color:rgb(90, 86, 152);
}

/*--- https://www.learnui.design/blog/mobile-desktop-website-font-size-guidelines.html ---*/
/*--- 18-20px er i dette tilfælde passende til både mobil og web, fordi det er et teksttungt site. 
Folk skal ikke sidde og misse med øjnene i flere minutter fordi jeg har valgt lille font-size ---*/

p {
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 20px;
  line-height: 150%;
  margin-bottom: 1em;
}

img {
  max-width: 100%;
  margin-top: 1em;
  margin-bottom: 1em;
}

ul, ol, li {
  font-family: 'Nunito';
}

ol {
  display: block;
  list-style-type: decimal;
  margin-top: 1em;
  margin-bottom: 1em;
  margin-left: 0;
  margin-right: 0;
  padding-left: 40px;
}

ul {
  display: block;
  list-style-type: none;
  margin-top: 1em;
  margin-bottom: 1em;
  margin-left: 0;
  margin-right: 0;
  padding-left: 40px;
}

ul li {
  display: block;
  font-size: 20px;
  margin-top: 1em;
  margin-bottom: 1em;
}

dl {
  display: block;
  list-style-type: none;
  margin-top: 1em;
  margin-bottom: 1em;
  margin-left: 0;
  margin-right: 0;
  padding-left: 40px;
}

dt {
  font-family: 'Nunito';
  font-size: 20px;
  display: block;
  margin-top: 1em;
  margin-bottom: 1em;
}

blockquote {
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 20px;
  display: block;
  margin-top: 1.5em;
  margin-bottom: 1.5em;
  padding-left: 40px;
  padding-right: 40px;
}

.footerp {
  font-size: 16px;
  text-align: center;
}

/* -----MOBIL---- hamburger menu ------- */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
  }
  
  a {
    font-family: 'Nunito';
  }
  
  .container {
    display: flex;
    justify-content: space-between;
    background-color: var(--primary-color);
    border-bottom: 2px solid var(--tertiary-color);
  }
  
  .hamburger {
    position: relative;
    display: block;
    width: 35px;
    margin: 16px 16px 20px 0;
    cursor: pointer;
    appearance: none;
    background: none;
    outline: none;
    border: none;
    z-index: 3;
  }
  
  .hamburger .bar,
  .hamburger:after,
  .hamburger:before {
    /* after og before er psheudo elementer der kan lave flere elementer til den det givet element*/
    content: ""; /* content er none*/
    display: block;
    width: 100%;
    height: 5px;
    background-color: #2e2d2b;
    margin: 6px 0;
    transition: 0.4s;
  }
  
  .hamburger.is-active:before {
    transform: rotate(-45deg) translate(-8px, 6px);
  }
  
  .hamburger.is-active .bar {
    opacity: 0;
  }
  
  .hamburger.is-active:after {
    transform: rotate(45deg) translate(-9px, -8px);
  }
  
  .mobil-nav {
    margin-top: 105px;
    display: block;
    top: 0;
    left: 100%;
    width: 100%;
    min-height: 100vh;
    position: fixed;
    z-index: 2;
    background-color: #f5f5f5df;
    padding-top: 140px;
    transition: 0.4s;
  }
  
  .mobil-nav.is-active {
    left: 0;
  }
  
  .mobil-nav a {
    display: block;
    width: 100%;
    max-width: 200px;
    margin: 0 auto 40px;
    text-align: center;
    padding: 16px;
    background-color: rgba(212, 210, 210, 0.748);
    color: #2e2d2b;
    border-radius: 6px;
    box-shadow: 6px 6px 1px 1px #7e7e7eac;
  }
  
  .nav_link {
    font-size: 18px;
    font-weight: 400;
    background: rgba(212, 210, 210, 0.254);
    box-shadow: 6px 6px 1px 1px #7e7e7eac;
    padding: 10px;
    margin: 0 5px;
    color: #2e2d2b;
    text-decoration: none;
    border-radius: 6px;
    display: none;
    transition: 0.2s;
  }
  
  .nav_link:hover {
    background: #2e2d2b;
    color: #dcd9d5;
  }

  header {
    background-color: aliceblue;
  }

  header h1 {
    font-family: 'Geologica';
    font-size: 40px;
    font-weight: 900;
    margin-top: 0;
    margin-bottom: 0;
  }

  header h2 {
    font-family: 'Nunito';
    font-size: 20px;
    font-weight: 400;
    margin-top: 0;
    margin-bottom: 0;
  }
  
  
  #logo {
    margin: 12px 0 20px 10px;
    width: 8vh;
    height: 8vh;
    transition: 0.2s;
    border: none;
    cursor: pointer;
  }
  
  .nav-text {
    text-align: center;
    flex-grow: 1;
    margin-top: 16px;
    margin-bottom: 20px;
    font-weight: 700;
    font-size: 16px;
    color: #2e2d2b;
    margin-top: 20px;
  }

  .nav-text h1{
    font-size: 40px;
    font-weight: 900;
    font-family: 'Geologica', sans-serif;
  }

  #in-text-li {
    font-family: Georgia, 'Times New Roman', Times, serif;
    list-style: none;
    width: 100%;
    margin: 20px;
    padding: 10px;
    border-radius: 8px;
    background: #e3edf7;
    box-shadow: none;
  }

  footer {
    background-color: rgb(90, 86, 152);
  }

  .footercontainer {
    max-width: 680px;
    margin: auto;
    text-align: center;
  }

  .footerp {
    font-size: 16px;
    color: aliceblue;
  }

  .button {
    list-style: none;
    width: 200px;
    height: 200px;
    margin: auto;
    margin-top: 50px;
    padding: 10px;
    border-radius: 8px;
    background: #e3edf7;
    box-shadow: 6px 6px 10px -1px rgba(0, 0, 0, 0.15),
    -6px -6px 10px -1px rgba(255, 255, 255, 0.7);
  }

  .flex {
    display: flex;
    justify-content: space-evenly;
  }

  .yell {
    font-size: 80px;
  }

    /* ------------ accordion til mobil ----------- */
  /*----- https://www.youtube.com/watch?v=fSkhTd4rpDo -----*/

  .accordion {
    margin-left: -30px;
    margin-right: 10px;
  }

  .accordion li {
    list-style: none;
    width: 100%;
    margin: 0px;
    padding: 10px;
    border-radius: 8px;
    background: #e3edf7;
    box-shadow: 6px 6px 10px -1px rgba(0, 0, 0, 0.15),
    -6px -6px 10px -1px rgba(255, 255, 255, 0.7);
  }

  .accordion li label {
    display: flex;
    align-items: center;
    padding: 0px;
    font-size: 25px;
    color: rgb(60, 55, 135);
    cursor: pointer;
  }

  label::before {
    content: '+';
    margin: 10px;
    font-size: 30px;
    font-weight: 600;
  }

  input[type="radio"] {
    display: none;
  }

  .accordion .content {
    color: 555;
    padding: 0 10px;
    line-height: 26px;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.5s; padding 0.5s;
  }

  .accordion input[type="radio"]:checked + label + .content {
    max-height: 6000px;
    padding: 10px 10px 20px; 
  }

  .accordion input[type="radio"]:checked + label::before {
    content: '-';
  }

  /* --------------------- */


/* ------ web herunder ------- */

@media (min-width: 800px) {
  
  main {
    max-width: 680px;
    margin: auto;
  }

  p {
    max-width: 65ch;
  }

  #in-text-li {
    font-family: Georgia, 'Times New Roman', Times, serif;
    list-style: none;
    width: 100%;
    margin: 20px;
    padding: 10px;
    border-radius: 8px;
    background: #e3edf7;
    box-shadow: none;
  }

  footer {
    background-color: rgb(90, 86, 152);
  }

  .footercontainer {
    max-width: 680px;
    margin: auto;
    text-align: center;
  }

  .footerp {
    font-size: 16px;
    color: aliceblue;
  }

  .button {
    list-style: none;
    text-align: center;
    width: 200px;
    height: 200px;
    margin: 20px;
    padding: 10px;
    border-radius: 8px;
    background: #e3edf7;
    box-shadow: 6px 6px 10px -1px rgba(0, 0, 0, 0.15),
    -6px -6px 10px -1px rgba(255, 255, 255, 0.7);
  }
  

  /*----- grids ----*/

  .grid_1-1 {
    margin-top: 100px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: space-between;
    gap: 1em;
  }

  .flex {
    display: flex;
    justify-content: center;
  }



  /* ------------ accordion til web ----------- */
  /*----- https://www.youtube.com/watch?v=fSkhTd4rpDo -----*/

  .accordion li {
    list-style: none;
    width: 100%;
    margin: 20px;
    padding: 10px;
    border-radius: 8px;
    background: #e3edf7;
    box-shadow: 6px 6px 10px -1px rgba(0, 0, 0, 0.15),
    -6px -6px 10px -1px rgba(255, 255, 255, 0.7);
  }

  .accordion li label {
    display: flex;
    align-items: center;
    padding: 10px;
    font-size: 25px;
    color: rgb(60, 55, 135);
    cursor: pointer;
  }

  label::before {
    content: '+';
    margin: 10px;
    font-size: 30px;
    font-weight: 600;
  }

  input[type="radio"] {
    display: none;
  }

  .accordion .content {
    color: 555;
    padding: 0 10px;
    line-height: 26px;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.5s; padding 0.5s;
  }

  .accordion input[type="radio"]:checked + label + .content {
    max-height: 6000px;
    padding: 10px 10px 20px; 
  }

  .accordion input[type="radio"]:checked + label::before {
    content: '-';
  }

}

